@import url("./assets/global/fonts/fonts.css");

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body{
    font-size: 0.875rem;
}
.logo-container {
    flex: 1 0 140px;
    display: flex;

}
.logo-container img {
    display: block;
}

.vertical-line {
    width: 1px;
    height: 24px;
    background-color: #DDDDDD;
    display: inline-block;
}
.search-icon {
    background-color: #FF385C;
    border-radius: 50%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin: 7px 7px 7px;
}
.header-button{
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    height: 48px;
    margin: -1px;
    padding: 0px
}
.search-container {
    text-align: center;
    display: flex;
    flex: 0 1 auto;
    padding: 0 24px;
    align-items: center;
    flex-direction: row;
}
.search-bar {
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 16px;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
.box-shadow-medium {
    transition: .2s;
}
.box-shadow-medium:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
.button-hospedes {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    font-weight: 400;
    color: #6A6A6A
}
.search-icon img {
    width: 12px;
    height: 12px;
}
.left-button {
    padding-left: 8px;
    margin-left: 1rem;
}

header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    font-size: 0.875rem;
    justify-content: center;
    padding: 10px 80px 10px 80px;
    max-width: 1280px;
    height: 3.7rem;
}
.account-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 0 140px;
    margin-left: 2.2rem
}
.seu-espaco-container {
    display: flex;
    align-items: center;
}
.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
    display: block;
}
.seu-espaco-container img{
    width: 16px;
    padding: 12px;
    margin-right: 8px !important;
    border-radius: 22px
}
.seu-espaco-container a {
    padding: 6px 28px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 10px;
    border-radius: 22px;
}
.button-background-hover:hover {
    background-color: #F7F7F7;
}
.user-container {
    display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    padding: 8px 8px 8px 14px;
    border-radius: 30px
}
.user-container .hamburguer {
    width: 16px;
    height: 16px;
}
.user-container .user-img {
    width: 32px;
    margin-left: 14px;
}
.bold {
    font-weight: 700;
}